/* Dashboard.css */

/* Set the background color to a dark shade */
.root {
    -fx-background-color: #212121;
}

/* Style the header */
.header {
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 20px;
}

.header > Label {
  -fx-text-fill: #ecf0f1;
  -fx-font-size: 16px;
}

/* Style the grid */
GridPane {
  -fx-alignment: CENTER;
  -fx-padding: 40px;
}

GridPane > Label {
  -fx-text-fill: #ecf0f1;
  -fx-font-size: 18px;
}

/* Style the labels */
.label {
  -fx-text-fill: #ecf0f1;
  -fx-font-size: 22px;
}



#b1,#b2,#b3{
  -fx-background-color: #212121;
    -fx-border-color: #353535;
    -fx-border-width: 1px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-padding: 10px;
    -fx-font-weight: bold;
}
/* Set the color of the text in all table columns to black */


/* Set the color of the column header text to black */
.table-view .column-header > .label {
  -fx-text-fill: black;
}

